<% publishable ||= false %>
<% param_name ||= :page %>
<% new_button ||= false %>
<% likable ||= false %>
<table class="table table-striped">
	<thead>
  <tr>
		<% if likable %>
			<th>Star</th>
		<% end %>
		<th>Name</th>
    <th>Type</th>
		<th>Owner</th>
		<th colspan=4><%= (link_to 'New', new_exercise_path, remote: true, class: "btn btn-primary") if new_button %></th>
  </tr>
	<tr>
		<% if likable %>
			<th></th>
		<% end %>
		<th>
			<%= form_tag my_exercises_path, :method => 'get', :id => "exercises_search" do %>
			    <%= text_field_tag :search_name, params[:search_name] %>
			<% end %>
		</th>
		<th>
			
		</th>
    <th></th>
		<th colspan=4></th>
  </tr>
	</thead>
	<tbody id="exercises">
		<%= render :partial => 'exercises/exercises', :locals => {exercise_list: @exercises, likable: true, publishable: true} %>
	</tbody>
	</table>
