$floating_form_bg_color: #262626;
$floating_form_text_color: white;
$floating_form_border_color: $hilightColor1;
$floating_form_success_bg_color: #143614;
$floating_form_success_border_color: #325b08;
$floating_form_failure_bg_color: #660000;
$floating_form_failure_border_color: #1e0000;
$overlay_bb_color: gray;

.floating_form{
	top:30%;
	opacity: 0.85;
	background-color: $floating_form_bg_color;
	border-radius: 20px;
	color: $floating_form_text_color;
	border: 3px solid $floating_form_border_color;
	z-index:1302;
	position:absolute;
	//text-align:center;
}
.floating_form form{
	font-size: x-large;
	border-radius: 10px;
	display:inline-block;
}
.floating_form div.image{
	float:left;
}

.floating_form div.image img
{
	border-radius: 10px;
}
.floating_form input.button{

}

.floating_form input{

}

.floating_form input.wide{
}
.floating_form span { 

}

#overlay{
	width:100%;
	height: 100%;
	background-color: $overlay_bb_color;
	opacity: 0.4;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1031;
}

.floating_form_success {
	background-color: $floating_form_success_bg_color;
	border-color: $floating_form_success_border_color;
}

.floating_form_failure {
	background-color: $floating_form_failure_bg_color;
	border-color: $floating_form_failure_border_color;
}

.floating_form_success form {

}

.floating_form_failure form {

}

.floating_form_full_width form{
	width: 100%;
	border-width: 0;
}

