// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#holder { 
	border: 10px dashed #ccc; 
	width: 300px; 
	min-height: 300px; 
	margin: 20px auto; 
	position: relative;
	text-align: center;
	}
	
#holder.hover { 
	border: 10px dashed #0c0; 
}
#holder img { 
	display: block; 
	margin: 10px auto; 
}
#holder p { 
	margin: 10px; 
	font-size: 14px; 
}
#holder .loading {

	background-image:url('/assets/ajax-loader.gif'); 
	background-position:center; 
	background-repeat:no-repeat; 
	height: 100%;
}
#holder .loading img{
	background: black;
	opacity:0.4;
	filter:alpha(opacity=40);
}
#holder .loading_white {

	background-image:url('/assets/ajax-loader-white.gif'); 
	background-position:center; 
	background-repeat:no-repeat; 
	height: 100%;
}
#holder .loading_white img{
	background: white;
	opacity:0.4;
	filter:alpha(opacity=40);
}
progress { 
	width: 100%; 
}
progress:after { 
	content: '%'; 
}
.fail { 
	background: #c00; 
	padding: 2px; 
	color: #fff; 
}
.hidden { 
	display: none !important;
}