<h1>Listing trainings_sessions</h1>

<%= render :partial => 'trainings_sessions_list', :locals => {:trainings_sessions_list => @trainings_sessions } %>

<br />

<%= link_to 'New Trainings session', new_trainings_session_path %>
