<h1>My Training sessions <%= link_to 'New', new_trainings_session_path, remote: true, class: "btn btn-primary" %></h1>

<%= render :partial => 'trainings_sessions/trainings_sessions_list', :locals => {trainings_sessions_list: @trainings_sessions, likable: true, publishable: true, search_path: my_sessions_path } %>




