<h1>My Training sessions <%= link_to 'New', new_trainings_session_path, remote: true, class: "btn btn-primary" %></h1>

<h3> My Liked Training sessions </h3>
<%= render :partial => 'trainings_sessions/trainings_sessions_list', :locals => {trainings_sessions_list: @my_likes_sessions, param_name: "my_like_ex", likable: true } %>

<h3> My Unpublished Training sessions </h3>
<%= render :partial => 'trainings_sessions/trainings_sessions_list', :locals => {trainings_sessions_list: @my_unpublished_sessions, param_name: "my_unpup_ex" } %>

<h3> My Published Training sessions </h3>
<%= render :partial => 'trainings_sessions/trainings_sessions_list', :locals => {trainings_sessions_list: @my_published_sessions, param_name: "my_pup_ex" } %>



