<div class="follow" id='follow'>
	<%= "#{@user.friends.size} #{"follower".pluralize(@user.friends.size)}" %>
	<br/>
	<% if @user.friends.include?(@current_user) %>
		<%= button_to "Unfollow", unfollow_user_path(@user), class: "btn btn-danger", :method => :put, :remote => true %>
	<% else %>
		<%= button_to "Follow", follow_user_path(@user), class: "btn btn-primary", :method => :put, :remote => true %>
	<% end %>
</div>
