<h1>My exercises <%= link_to 'New', new_exercise_path, remote: true, class: "btn btn-primary" %></h1>

<%= render :partial => "exercises/exercise_list", :locals => {search_path: my_exercises_path, exercise_list: @exercises, likable: true, publishable: true} %>
