<h3> Welcome <%= current_user.username %></h3>

<div class="span6">
<h5>Pictures of Sumthing</h5>
Plaats voor de Pics of sumthing sumthing dak totaal niet kan lezen for sum reason
</div>

<div class="span1">
</div>
<div class="span4">
<h5>Upcomming Events</h5>
Plaats voor de upcomming events in weer te geven, kan alleen maar keicoowl worden
</div>
<div class="span6">
<h5>Grafiekje komt hier zo</h5>
Hier komt dus dat sexy grafiekje te staan denk ik toch
</div>
<div class="span1">
</div>
<div class="span4">
<h5>Kledder kledder</h5>
Hier komt blijkbeer nog een kotje, maar ik kan nie lezen met wat
</div>

