ass="row-fluid"> 
	<div class="span8 offset2 center">
	</div>
</div>
<%= render 'slide_frame' %>
<br/>
<div class="row-fluid"> 
	<div class="span8 offset2"> 
		<div class="row-fluid"> 		
			<div class="span4">
				<h3>Een titelke voor Rik</h3>
				<p>
				Welcome to WiSport. WiSport is a website developed to keep track of you personal trainings. This can be done by creating and doing exercises. These exercises can be bundled in Training Sessions. You can create session based on exsisting exercises so you can complete a serie of exercises at once.
				</p>
			</div>
				<div class="span4">
				<h3>Een titelke voor Roeland</h3>
				<p>
				Besides keeping track of your personal training WiSport goes further. You can publish exercises so every other user of our platform can see these, do these, or use these within their own Training Sessions.
				</p>
			</div>
			<div class="span4">
				<h3>Een titelke voor Ayrton</h3>
				<P>
				Besides sharing Exercises and Exercise Sessions doing an Exercise or Exercise Session can be placed upon your personal Google Calendar. In this way you can plan your training scheme for an entire week and even this can be shared with other users. This gives people the possibility to tag along with someone. They can have a run together, go to the gym together,...
				</p>
			</div> 
		</div>
	</div>
</div>
